<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function(){
	$("a[rel='lightbox']").colorbox();
})
</script>
<% end %>
<% if @page.gallery %>
<ul class="gallery" style="margin-bottom:20px">
	<% @page.gallery.gallery_images.all(:order => 'RAND()', :limit => 4).each do |image| %>
	<li class="<%= cycle('one','two','three','four')%>">
		<%= link_to image_tag(image.file.url(:thumb), :width => 135), image.file.url(:medium), :rel => 'lightbox' %>
	</li>
	<% end %>
</ul>
<% end %>