	<div id="footer">
		<div id="sponsors">
			<h3>2010/2011 Sponsors</h3>
			<ul>
				<li class="bargin">
					<a href="#">Herman Thinks (bargain booze)</a>
				</li>
				<li class="voodoo">
					<a href="http://www.voodooevents.co.uk/">VooDoo</a>
				</li>
				<li class="jager">
					<a href="#">Jagerbomb</a>
				</li>
				<li class="h4th">
					<a href="http://www.hatsforthehill.com/">Hats 4 The Hill</a>
				</li>
				<li class="otp">
					<a href="http://www.offthepiste.com/studentskiing/">Off The Piste</a>
				</li>
				<li class="snozone">
					<a href="http://www.snozoneuk.com/html/snozone-portal/">SNO!Zone</a>
				</li>
				<li class="chaos">
					<a href="http://www.urbanchaos.biz/">The Chaos</a>
				</li>

				<li class="mojo">
					<a href="http://www.mojobar.co.uk/">MOJO</a>
				</li>

			</ul>
		</div>
		<p>Created by <a href="http://www.adamcarlile.com">Adam Carlile</a></p>
	</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5264206-3']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>